@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*BURGER BUTTON FIRST NOT DISPLAYED*/
#navbarContainer button{
    display: none;
}

/*ITEMS ON THE NAVIGATION BAR*/
#listNav li a{
    padding: 30px;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

/*BURGER BUTTON BORDER COLOR*/
#burger{
    border-color:lightpink;
}

/*BURGER BUTTON UNDER 900PX WILL BE DISPLAYED WHICH ENSURES RESPONSIVENESS*/
@media only screen and (max-width:900px){
    #navbarContainer button{
        display: block;
    }
    #listNav li a{
        padding: 10px;
    }

    #listNav li a:hover{
        color:white;
    }

}

/*BODY WILL HAVE GRADIENT BACKGROUND ANIMATION*/
body{
    background: linear-gradient(
        to right, #833ab4,
        #fd1d1d, #fcb045);
    background-size: 400%,400%;
    animation: animate-background 10s infinite ease-in-out;
}

/*BODY WILL HAVE GRADIENT BACKGROUND ANIMATION*/
@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.button-res{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #3c67e3;
    border-radius:10px;
}

.button-res:hover{
    animation:pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff,
                     0 0 50px #4e00c2;
    }
}

#carouselSlide{
    text-align: center;
}


#symbols{
    text-align: center;
}

#info-two-column{
    text-align: center;
}











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








